{
	"extends": "@10up/eslint-config",
	"env": {
		"browser": true,
		"amd": true,
		"node": true
	},
	"globals": {
		"_": true,
		"importUploadSettings": true,
		"jQuery": true,
		"plupload": true,
		"wp": true
	}
}
